# Віртуальне середовище
venv/
env/

# Локальна база даних (ми не тягнемо її на сервер)
db.sqlite3

# Секретні файли (якщо ти створиш його локально)
.env

# Файли кешу Python
__pycache__/
*.py[cod]
*$py.class

# Медіа-файли (картинки, які ти завантажував локально для тестів)
media/

# Логи
debug.log
*.log

cert.crt
cert.key